* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: sans-serif;
  background: linear-gradient(to bottom, #5100e7, #1e2736);
  padding: 2rem;
}

h1 {
  margin-bottom: 3rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.6rem 0.8rem;
  margin-bottom: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}


.error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 0.75rem;
}

.calculator {
  max-width: 800px;
  margin: 0 auto;
}

.layout {
  display: flex;
  gap: 2rem;
}

.inputs {
  flex: 1;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
}

.results {
  flex: 1;
  background: #1e2736;
  padding: 1.5rem;
  border-radius: 10px;
  color: white;
}

.result-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #2a3548;
}
button {
  width: 100%;
  padding: 0.7rem;
  margin-top: 1rem;
  background: #c9a84c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: #403eb8;
}
.tip-buttons {
  width: 30%;
  padding: 1.5 rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 0.75rem;
  flex: 1;
  margin: 0;
  }

.tip-buttons p{
  font-size: 1rem;
  font-weight: 600;
  color: #6b6375;
  margin-top: 1rem;
}
.active {
  background: #4E02DD;
  border: 3px solid #c9a84c;
}

@media (max-width: 600px) {
  .layout {
    flex-direction: column;
  }
  .tip-buttons {
    width: 100%;
  }
  .tip-buttons p{
    font-size: 0.8rem;
  }
  .tip-buttons button{
    font-size: 0.8rem;
  }
}